
/*------------------------------------------------------------------

[Layout Stylesheet]

	Project:		Bootstrap Landing Template
	Version:		1.0
	Last change:	04/26/2012
	Assigned to:	Rod Howard (rh)


[Table of contents]

	1. Global
	2. Navbar
	3. Landing
	4. Content
	5. Screenshots
	6. Extra
	7. Footer
	8. Subpage
	9. Subheader
	*. Bootstrap Overrides

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. Global]
*/

html {
	-webkit-text-size-adjust: none;
}

body {
	font: 13px/1.7em 'Open Sans';
	
	background-color: #FFF;
}
    
p { 
	margin-bottom: 1.7em;
	
	font: 13px/1.7em 'Open Sans';	
}

ul {
	margin-bottom: 1.7em;
}

h1, h2, h3, 
h4, h5, h6 {
	margin-bottom: .85em;
}

h3, h4, h6 {
	margin-bottom: 1.15em;
}
    
input,
button,
select,
textarea {
	font-family: 'Open Sans';
}

input[type="text"], input[type="password"], textarea {
    width: 350px;
}

textarea {
    height: 150px;
}

a:hover {
    cursor: pointer;
}

/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/

.navbar {	
	margin-bottom: 0;
	
	border: none;
	border-bottom: 1px solid #666;
}

.navbar-fixed-top {
	position: static;
}

.navbar-inner {
	padding: 15px 0 12px;
	
	background: #292929 url(../img/header-bg.jpg) repeat 0 0;
	filter: none;
	
	border-bottom: 1px solid #111;	
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar .container {
	position: relative;
}

.navbar .brand {
	display: block;
	width: 340px;
	height: 50px;
	/*padding: 5px 0 0 0;*/
	/*padding-bottom: 0;*/
	/*margin-top: 2px;*/
	margin-left: 10px;
	overflow: hidden;
    cursor: pointer;
	
	/*line-height: 30px;*/
    color: #fff;
    /*background: url(../img/logo.png) no-repeat 0 0;*/
}

.navbar .brand {
	position: relative;
	top: 0px;
	
	margin-left: 0;
	
	font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.home_link {
    float: right;
    position: relative;
    top: 12px;
    font-size: 34px;
    height: 50px;
}

.navbar .nav > li > a {
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.navbar .nav > li > a:hover {
	color: #BBB;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
	background: transparent;
	color: #81994D;
}

/*------------------------------------------------------------------
[3. Landing / #landing]
*/

#landing {
	height: auto;
	
	border: none;
	
	overflow: hidden;
}

#landing .inner {
	color: #FFF;
    	
	background: #444;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

#landing .container {
	padding-top: 30px;
}

/*------------------------------------------------------------------
[4. Content / #content]
*/

#content {	
    border: none;
}

#content .inner {
	min-height: 400px;
	padding-top: 0;
	padding-bottom: 2em;
	
	
	background: #fff;
}

#content .container {
	padding-top: 3em;
	
	border-top: 8px solid #81994D;
}

.actions {
    margin-top: 25px;
}

.subject {
    min-height: 200px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    border: 2px solid #cccccc;
    color: #000;
    cursor: pointer;
}
.subject:hover {
    border: 2px solid #000000;
}

h3.middle_emphasis {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.home_intro {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.crumbs {
    float: left;
    font-size: 22px;
    color: #000;
    margin-right: 15px;
}
.crumbs a {
    float: left;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}
.crumbs a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.days {
    text-align: right;
    margin-right: 15px
}

.error_messages {
    border: 2px solid #cc0000;
    padding: 10px;
    margin: 0 0 25px 0;
    width: 336px;
    background-color: #ffcccc;
}
.error_messages h3 {
    color: #cc0000;
}
.error_messages ul {
    margin: 0;
}
.error_messages li {
    list-style-type: none;
    color: #cc0000;
}

.notice {
    margin: 10px 0 10px 0;
    color: green;
    font-weight: bold;
}

.top_line_form {
    vertical-align: top;
}

.top_form button {
    margin-left: 15px;
    position: relative;
    top: -5px;
}

/*------------------------------------------------------------------
[5. Screenshots / #screenshots]
*/	

#screenshots {
	
	background: #E8E8E8;
	
	border-top: 1px solid #CCC;
}

#screenshots .inner {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	border-top: 1px solid #FFF;
}

/*------------------------------------------------------------------
[6. Extra / #extra]
*/

#extra {	
	border-top: 1px solid #000;
}

#extra .inner {
	padding: 20px;
	
	color: #fff;
	
	background-color: #222;
	
	border-top: 1px solid #555;
}

#extra h3 {	
	font-weight: 400;
}

/*------------------------------------------------------------------
[7. Footer / #footer]
*/

#footer {
	border-top: 1px solid #000;
}

#footer .inner {	
	padding: 20px 0;
	
	background: #111;
	
	border-top: 1px solid #222;	
}

.footer-links {	
	/*width: 49%;*/
	display: inline-block;
	margin: 0;

	list-style: none;
}

.footer-links li {
	margin-bottom: 1.25em;
    float: left;
    margin-right: 50px;
}

.footer-links a {
	color: #777;
}

/*------------------------------------------------------------------
[8. Subpge / #subpage]
*/

#subpage {
	margin-top: 3em;
	margin-bottom: 15em;
    min-height: 500px;
}
/*------------------------------------------------------------------
[9. Subheader / #subheader]
*/

#subheader {	
	color: #EEE;
	
	background: #444;
	
	border-bottom: 1px solid #222;
}

#subheader .inner {
	padding: 20px 0;
}

#subheader h1
, #subheader h2
, #subheader h3
, #subheader h4
, #subheader h5
, #subheader h6 {
	margin-bottom: 0;
	
	font-size: 22px;
	font-weight: 400;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

/*------------------------------------------------------------------
[9. Sidebar Container]
*/

.sidebar {
	padding: 15px;
	
	background: #EEE;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*------------------------------------------------------------------
[2. Social Icons]
*/

.social-icons-container {
	width: 100%;
	display: table;
	padding: 0;
	margin: 2.5em 0 0;
	
	list-style: none;
}

.social-icons-container li {
	width: 33%;
	display: table-cell;	
	
	text-align: center;			
}

.social-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	overflow: hidden;	
	
	line-height: 600px;
	
	background: url(../img/social/social-sprite.png) no-repeat 0 0;					
}

.social-icon-twitter {
	background-position: 0 0;					
}

.social-icon-twitter:hover {
	background-position: 0 -50px;					
}

.social-icon-googleplus {
	background-position: -50px 0;
}

.social-icon-googleplus:hover {
	background-position: -50px -50px;
}

.social-icon-facebook {
	background-position: -100px 0;	
}

.social-icon-facebook:hover {
	background-position: -100px -50px;	
}

/*------------------------------------------------------------------
[6. Circle Icon]
*/

.circle-icon {	
	position: relative;
	
	width: 50px;
	height: 50px;
	
	background: #292929;
	
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.circle-icon div {

	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 44px;
	height: 44px;
	
	margin-top: -22px;
	margin-left: -22px;
	
	font-size: 24px;	
	text-align: center;
	line-height: 40px;		
	color: #FFF;	
	
	border: 2px solid #FFF;	
	
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*------------------------------------------------------------------
[7. Round Image]
*/		
			
.img {
	display: inline-block;
	overflow: hidden;
	border-radius: 100px;
}

.img img {
	max-width: 100%;
}

/*------------------------------------------------------------------
[13. Miscellaneous]
*/

.big-intro {
	font-size: 28px;
	line-height: 1.7em;
	color: #888;
	
	padding: 25px 0;
	
	border: 1px dotted #CCC;	
	border-right: none;
	border-left: none;
}

.slash {
	padding-right: .25em;
	color: #81994D;
}

.simple_info {
    margin: 20px 0 20px 0;
}
.simple_info h2 {
    margin: 0;
    padding: 0 0 5px 0;
}
.simple_info p {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------
[*. Bootstrap Overrides]
*/

.nav-list {
	margin-bottom: 1.5em;
}

.nav-list > li > a {
	padding: 7px 15px;
	
	font-weight: 600;
	color: #333;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.nav-list > li.active > a,
.nav-list > li.active > a:hover {		
	color: #FFF;
	
	background: #81994D;
}

.btn {
	border-radius: 0 \0/;
}

.item_show ul {
    margin: 0 0 25px 0;
}
.item_show li {
    display: inline;
    margin-right: 18px;
}
.item_show input[type="text"] {
    width: 250px;
    margin: 0 15px 0 0;
}
.item_show textarea {
    width: 250px;
    height: 18px;
    margin: 0 15px 0 0;
}
.item_show_hidden {
    display: none;
}
.item_show_block {
    display: block;
}