<p>At the end of April 2012, my best friend asked me to marry him. By the first of May, I was
simultaneously overwhelmed and fed up with the huge number of resources available to brides. I was
using pin-board sites to keep track of images I found online, but only sometimes. Other times, I
might save an image to my computer. But then I have three different computers that I regularly use,
so keeping them all in sync quickly became a huge task. The same issue existed with documents. I tried
to keep vendor contracts, caterer menus, DJ song lists, and every other wedding-related file
stored on my computer(s) as well, until the first time I went to look for our venue's contract and
realized that the digital copy had disappeared, probably from an accidental deletion during my
<%= "<sarcasm>" %>very technical<%= "</sarcasm>" %> syncing process. The final straw came when I
realized just how many post-it notes, looseleaf notebooks, pieces of scrap paper, online
note-taking files, etc. I had amassed. I knew there had to be a better way to ensure that I held
onto my sanity until our wedding next fall.</p>

<p>So, I did what any developer with a problem and a little free time does: I built an app.
I tried to combine all of my favorite and most helpful aspects of the various resources I used:
image pinning, document uploading, list making (!!), and more. I leveraged
<a href="#" onclick="window.open('http://aws.amazon.com/s3/')">Amazon's Simple Storage Service (S3)</a>
so that I'd never accidentally lose a document or image again. I gave myself the ability to download
my files to whatever computer I happened to be on at the time, ensuring that I always had instant
access to any document I needed. I added the ability to print nicely-formatted PDF documents of my lists
(both regular and to-do style) so that I could carry around physical copies when necessary.</p>

<h2>TL;DR: I got rid of all the obnoxious, tedious, disorganized, and scattered parts of wedding
    planning and only kept the awesome stuff.</h2>