<div class="home_intro">
  <p>Planning a wedding, party, or some other event, large or small? Tired of trying to
     keep track of images and links via pin-board sites, documents on multiple computers, and post-it
     notes scattered around your house?</p>
  <h3 class="middle_emphasis">
    Move all of your planning to one place.
  </h3>
  <p>Build subject boards filled with lists, pictures, documents, and more. Let us leverage
     the power of cloud storage to ensure you never lose your hard work. Keep your
     organization level high and your stress level low.
  </p>
  <div class="get_started">
    <a class="btn btn-primary btn-large" href="#/signup">Get started now!</a>
  </div>
</div>