<div id="subheader">
    <div class="inner">
        <div class="container">
            <h1 class="crumbs">
                <h1 class="crumbs">
                    <a href="#/subjects">My Boards</a>
                </h1>
                <h1 class="crumbs"> << </h1>
                <h1 class="crumbs">
                    <a href="#/subjects/{{ subject.id }}">{{ subject.name }}</a>
                </h1>
            </h1>
        </div>
    </div>
</div>

<div id="subpage">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="form">
                    <form>
                        <div class="clearfix">
                            <label for="item_type"><span>What should this be?</span></label>
                            <div class="input">
                                <select ng-model="item.item_type" id="item_type">
                                    <option value=""></option>
                                    <option value="Document">Document</option>
                                    <option value="List">List</option>
                                    <option value="Picture">Picture</option>
                                    <option value="To-Do List">To-Do List</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label for="name"><span>Name</span></label>
                            <div class="input">
                                <input type="text" ng-model="item.name" id="name" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <label for="description"><span>Description</span></label>
                            <div class="input">
                                <textarea ng-model="item.description" id="description"></textarea>
                            </div>
                        </div>
                        <div class="form_field" id="files" ng-class="">
                            <label for="file"><span>Upload from your computer</span></label>
                            <div class="input">
                                <input onchange="angular.element(this).scope().uploadFiles(this)" id="file" type="file">
                            </div>

                            <label for="image_url"><span>Upload from URL</span></label>
                            <div class="input">
                                <input type="text" ng-model="item.image_url" id="image_url" />
                            </div>
                        </div>

                        <div class="actions">
                            <button ng-click="save()" class="btn btn-primary btn-large">Let's go!</button>
                        </div>

                        <input type="hidden" ng-model="item.subject_id" id="subject_id" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>