<div class="notice">

</div>
<div class="form">
    <fieldset>
        <form>
            <div class="clearfix">
                <label for="email"><span>Email</span></label>
                <div class="input">
                    <input type="text" id="email" />
                </div>
            </div>
            <div class="clearfix">
                <label for="password"><span>Password</span></label>
                <div class="input">
                    <input type="password" id="password" />
                </div>
            </div>
            <div class="actions">
                <input type="submit" value="Let's go!" class="btn btn-primary btn-large" />
            </div>
        </form>
    </fieldset>
</div>