<div style="margin-bottom: 25px;">
Search:
<input ng-model="query">
<br/>
Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="date_added">Most recently added</option>
    <option value="date_updated">Most recently updated</option>
</select>
</div>

<div class="subject" ng-repeat="subject in subjects | filter:query | orderBy:orderProp">
    <a href="#/subjects/{{subject.id}}">
        <div>
            <h3>{{ subject.name }}</h3>
        </div>
    </a>
</div>