<div class="top_header">
    <div class="add_links">
        <button class="btn btn-primary btn-large">Add something!</button>
    </div>
</div>

<div class="simple_info">
    <h2>{{subject.name}}</h2>
    <p>{{subject.description}}</p>
</div>

<div class="subject">
    <h3>Item 1</h3>
    <p class="sub_desc">Picture</p>
</div>

<div class="subject">
    <h3>Item 2</h3>
    <p class="sub_desc">Document</p>
</div>

<div class="subject">
    <h3>Item 3</h3>
    <p class="sub_desc">To-Do List</p>
</div>